
.navbar{
  display: flex;
  width: 100%;
  position: fixed;
  
  justify-content: space-around;
  background: white;
  z-index: 99;
  padding-top: 10px;
}
.logo{
  height: 30px;
}
.baritems{
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.blue{
  text-decoration: none;
  color: #00c3a5;
}
.grey{
  text-decoration: none;
  color: grey;
}
.image{
  width : 50px;
}
.Sect1{
  padding-top: 70px;
}

.titre{
  color: #00c3a5;
  font-size: 30px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 40px;
}
.image{
  margin-left: 47%;
}
.text{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.paragh  {
  color: gray;
  line-height: 30px;
  width: 46%;
  padding-bottom: 60px;
}
.col-Services{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.greencard{
  background-color: #00ccb1;
  width: 40%;
      padding: 30px;
          height: 350px;
  border-radius: 15px;
  overflow: hidden;
}
.bluecard{
  background-color: #3d83df;
  width: 40%;
      padding: 30px;
          height: 350px;
  border-radius: 15px;
  overflow: hidden;
}
.items-Services{
  padding: 25px 25px 0 25px ;
  overflow: hidden;
}
.select{
  height: 40px;
  min-width:160px
}
.find{
  color: white;
  padding-right: 3px;
}
.for{
  color: powderblue;
}

.img-service{
  width: 100%;
}
.icon{
  width: 100%;
  display: flex;
  margin: 35px 0 0 35px;
}
.list-logo{
  display: flex;
  flex-wrap: wrap;
  }
  .list-logo p{
    color: #2c9f90;
    font-size: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    
  } 
  .brands-logo{
    display: flex;
    fill: hsla(0,0%,67%,.7);
    width: 80%;
     margin: auto;
     padding: 40px;
    
    }
    .brands-logo a path{
        fill: hsla(0,0%,67%,.7);
    }
    .brands-logo a:hover path{
        fill:#00b39b;
    }
     .brands-logo li {
      list-style-type: none;
    }
    .title-logo{
      display: flex;
    }
  

.icons-items{
  width: 60%;
  display: flex;
  color: #00c3a5;
  justify-content: space-around;
}
.img-select{
  display: flex;
}

.WR{
  width: 17%;
  color: #00c3a5;
  padding: 0 0 0 11%;
  font-size: 20px;
}
.third-section{
  background-color: #dbf8f6;
  max-height: 510px;
  display:flex;

}
.heading{
  background-color: #def8f7;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 80%;
 position: relative;
 padding-left: 123px;
 overflow: hidden;

}
.first-column{
  width: 80%;
}
.first-column h2{
  color: #00ccb1;
}
.first-column p {
  font-size: 14px;
  color: grey;
  
}
.image-header{
  position: absolute;
  margin-top: 31px;
  margin-left: -10%;
}
.top-four-boxes{
  flex-wrap: wrap;
    display: flex;
  
}
.four-boxes{
  background-color: #ffffff; 
  color:#409882;
  width: 30%;
  margin: 10px;
  text-align: center;
 padding: 25px;
}
.four-boxes p {
  font-size: 12px;
  color: gray;
}
.four-boxes h3 {
  color: #00ccb1;
}
.slider-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 30%;
  align-items: center;
  padding-bottom: 30px;
}
.slider-items h4{
  color: gray;
}
.slider-items button {
  width: 35%;
  height: 8%;
  background-color: #4696e5;
  border: none;
  color: white;
  border-radius: 5px;
}
.offices{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
}
.header-offices{
text-align: center;
  padding: 5% 27% 5% 27%;
}
.header-offices h2 {
color: #00ccb1;
}
.header-offices h4 {
  color: rgb(204, 191, 191);
}
.header-offices p {
  color: gray;
}
.footer {
  color:grey;
  text-align: center;
  font-size: 12px;
  padding: 19px 0;
  line-height: 2;
}